.home {
  background-color: rgb(250, 213, 4);
  background-size: cover;
  height: 100vh;
}
.homePlay {
  animation: blink 2s linear infinite;
  margin: 5rem;
}
.intro {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2vw;
}
.EVCCV {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-size: 8vh;
  margin: 8vh;
  font-weight: bold;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  .EVCCV {
    margin: 1vh;
    font-size: 8vw;
  }
  .intro {
    margin-top: 1rem;
    font-size: 2vw;
  }
  .homePlay {
    margin: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .EVCCV {
    margin: 1vh;
    font-size: 8vw;
  }
  .intro {
    margin-top: 1rem;
    font-size: 4vw;
  }
  .homePlay {
    margin: 2rem;
  }
}
@media screen and (max-width: 815px) and (min-width: 500px) {
  .home {
    height: 140vh;
  }
}
