.header {
  background-color: rgb(250, 213, 4);
  margin-bottom: 3rem;
}
.headerContent {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}