/* .DisplayPodcast {
  margin: 1rem;
}
.poster {
  height: 17rem;
  width: 17rem;
}
.play {
  width: 40%;
  height: 40%;
}
.modalTitle {
  text-align: center;
  margin: 1rem;
}
@media screen and (max-width: 1280px) {
  .DisplayPodcast {
    width: 85% !important;
  }
} */
