.displayPodcast {
  margin-left: auto;
  margin-right: auto;
  margin: 1vh;
  width:19vw;
}

@media screen and (max-width: 1024px) {
  .displayPodcast {
    margin:auto;
    margin-bottom: 2vh;
    width: 50vw;
  }
}
@media screen and (max-width: 500px) {
  .displayPodcast {
    margin:auto;
    margin-bottom: 2vh;
    width: 65vw;
  }
}
